<div id="duty-roster">
  <h2>On duty</h2>
  <%if @data.whos_on_duty %>
  <ul class="roster-list">
    <li class="<%= @data.whos_on_duty[:rule] %> <%= @data.whos_on_duty[:has_phone]? "phone" : "" %>">
      <span class="phone-icon"></span>
      <%=  %>
      <span class="<%= @data.whos_on_duty[:rule] %>-name">
        <%= @data.whos_on_duty[:name] %>
      </span>
      <%if @data.whos_on_duty[:contact_methods] && @data.whos_on_duty[:contact_methods].any? %>
        <ul class="contact-methods">
        <%= partial(:contact_method, collection: @data.whos_on_duty[:contact_methods]) %>
        </ul>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>